<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/> 
  </startup> 
  <appSettings>
    <add key="Iterations" value="200" />
    <add key="IntervalInSeconds" value="1" />
    <add key="UseThreads" value="false" />
    <add key="ConfigPath" value="Resources"/>
    <add key="ConfigFilePattern" value="Mail2BugConfig*.xml"/>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/> 
  </appSettings>
</configuration>
